
h1{
    font-size: 3.8rem;
}

h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var( --bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}




a{
    text-decoration: none;
}

.bg-main{
    height: 200vh;
    position: relative;
}

.bg-color{
    background-color: var(--bs-dark-primary);
}

.bg-theme{

    color: var( --bs-supporting-color);
    background-image: none!important;
}

.fa-star{
    color: var( --bs-supporting-color);
}

.nav-link{
    color: var(--bs-main-color)!important;
    font-weight: bold;
}

.nav-link:hover{
    color: var(--secondary-color) !important;
}

/*hero section style */

.hero-section .container{
    display:grid;
    place-items: left;
    height: inherit;
}
.hero-section h1{
    font-size: 3.4rem;
}

.hero-section h1:first-letter{
    /*font-size: 10rem;*/
    initial-letter: 2 ;
    padding-right: .2rem;
    color: var(--secondary-color);
}

.hero-image--section{
    width: 30rem;
    border-radius: 2rem;
}



body {
    background-image: url('your-background-image.jpg'); /* Replace 'your-background-image.jpg' with your image file path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

/* Center content vertically */
.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

/* Style the title and social media icons */
.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.social-icons {
    font-size: 2rem;
    margin-top: 20px;
}

@media screen and (max-width: 1400px) {

    .hero-video--section{
        width: 25rem;
        border-radius: 1rem;
    }
}


@media screen and (max-width: 1200px) {

    .hero-section{
        height: 80vh;
    }

    .hero-video--section{
        width: 20rem;
        border-radius: 1rem;
    }
}



@media screen and (max-width: 998px) {

    h1{
        font-size: 2.4rem;
    }

    section .common-heading{
        font-size: 2rem;
    }

    section  .para-width{
        width:  auto;
    }

    .hero-section{
        height: 100vh;
    }

    .navbar-toggler{
        border-color: var( --bs-main-color);
    }

    .navbar-toggler-icon{
        background-color: var( --bs-main-color);
    }

}
